@import "base/reset";
@import "base/vars";
@import "base/print";
@import "base/fonts";

body {
    margin: 0;
    padding: 0;
    font-size: 25px;
}
#app {
    margin: 20px;
}

#link-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#link {
    padding: 40px;
    background-color: skyblue;
}

figure {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid black;
    border-right: none;
    border-top: none;
}

figure:before,
figure:after {
    content: "";
    position: absolute;
}

figure::after {
    // left: 50%;
    // right: -50%;
    left: -2px;
    top: -100px;
    background: transparent;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 0 0 0 100em red;
}

//   figure:after {
//     left: -1px;
//     bottom: 0px;
//     height: 16px;
//     width: 128px;
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 5px;
//     border-left: 1px solid black;
//     border-bottom: 1px solid black;
//   }

#card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #ffb6c1;
    margin: 20px;
    float: left;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.price {
    color: grey;
    font-size: 22px;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

td {
    padding: 10px;
    background-color: #FFB6C1;
}

td div {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2)
}

td:nth-child(even) {
    background-color: #ADD8E6;
}


#ac-el-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    list-style: none;
    padding: 0 5px;
    padding-top: 5px;

    margin-bottom: 50px;
}


#ac-el-list li {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f0f0f0;
    width: 100%;
    margin: 20px 0;
}

#ac-el-list .element-item {
    display: flex;
    flex-direction: row;
}

#ac-el-list .group-item {
    display: flex;
    flex-direction: column;
}
    
    #ac-el-list .action-type {
        background-color: #dddddd;
        color: #636363;
        font-style: italic;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 13px;
        padding: 0 5px;
    }
    
    #ac-el-list .list-item-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: hidden;
    }
    
    #ac-el-list header {
        font-size: 13px;
    }
    
    #ac-el-list .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        min-width: 37.58px;
        padding: 0 5px;
        border-radius: 10px;
    }

    #ac-el-list .action-content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 3px 5px;
    }
    
    #ac-el-list .action-content input {
        width: 100%;
        outline: 0;
        border: 0;
        font-size: 16px;
        padding: 3px;
    }
    
    #ac-el-list .ac-delete-btn {
        padding: 0;
        color: red;
        padding-left: 0;
        margin: 0;
        display: block;
        outline: 0;
        border: 0;
        background-color: transparent;
        overflow: initial;
        font-size: 13px;
        box-shadow: 0 0 4px 5px #f0f0f0;
    }
    
    #ac-el-list .ac-delete-btn:active {
        color: rgb(219, 0, 0);
    }

    #ac-el-list .group-item .ac-delete-btn {
        box-shadow: 0 0 4px 5px #dddddd;
    }
    
    #ac-el-list .element-details {
        margin-left: 3px;
        padding: 5px 0;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 0; 
    }
    
    
    
    #ac-el-list .group-header {
        font-size: 13px;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #dddddd;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;
    }
    
    #ac-el-list .group-details {
        display: flex;
        flex-direction: row;
        background-color: #00aeff;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        font-size: 13px;
        font-style: italic;
    }    
    
    
    #ac-el-list .group-type-wrapper {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: inherit;
    }

    #ac-el-list .group-type {
        color: white;
        white-space: nowrap;
        word-wrap: none;
        padding: 0 5px;
    }

    #ac-el-list .group-details .action-type {
        border-radius: 10px;
        background-color: #0095da;
        color: white;
    }

    #ac-el-list .group-content {
        padding: 3px 5px;
    }
    
    