@import "base/reset";
@import "base/vars";
@import "base/print";
@import "base/fonts";

body {
    margin: 0;
    padding: 0;
    font-size: 25px;
}
#app {
    margin: 20px;
    background-color: #b3b3b3;
    padding: 20px
}

#link-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#link {
    padding: 40px;
    background-color: skyblue;
}
